body{
   background-image: url("red29.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   overflow: scroll;
   overflow-x: hidden;
}
p{
   text-align: left;
   font-size: 1.2em;
   font-family: Papyrus;
   border-width: medium;
   margin-left: 0in;
   margin-right: 0in;
   margin-top: 4.0pt;
   margin-bottom: .0001pt;
   padding: 0in;
   padding-left: 50px;
}
img{
   width: 60px;
   height: 35px;
   float: right;
   margin: 0%;
   padding-right: 1050px;
   padding-bottom: 5px;
   position: absolute;
}
div.row{
   width: 100%;
}
div.col-1-9{
   width:20%;
}

nav a{
    text-decoration: none;
    display: block;
    font-style: italic;
}

nav a:visited, nav a:link {
   color: rgb(17, 11, 11);
}

nav a:active, nav a:hover {
   color: rgb(136, 7, 7);
}
nav#main ul li  a{
   display: block;
   font-size: 1.1em;
   text-align: center;
   padding: auto;
   margin: auto;
   padding-top: 0px;
   padding-left: 2px;
   padding-right: 5px;
}
nav#main ul li a:hover, nav#main ul li a:active {
   padding-top: 10px;
   text-shadow: 0px 0px 2px black, 0px 0px 15px white;
}
nav a{
   display: block;
   text-align: center;
   box-sizing: content-box;
   text-shadow: white 10px 0px 50px;
   width: 100%;
}
nav#main ul{
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   vertical-align: middle;
   border: 8px rgb(1, 3, 32);
   border-style: solid none none;
}
nav#main ul li{
   font-size: 1.5em;
   flex: 1 1 200px;
   -webkit-flex: 1 1 200px;
   list-style-type: none;
   
}
div[class^="col-"] {
   float: left;
}
div.col-1-9 {
   width: 11%;
}
nav#main{
    margin-top: 0px;
    padding-top: 0px; 
    
}

p{
   border-radius: 10px 10px;
   width: 30%;
   border: 2px solid rgb(59, 46, 1);
   color: rgb(108, 10, 173);
   float: left;
   display: block;
   text-align: center;
   padding: auto;
   margin: auto;
   padding: 10px 10px;
   margin: 5px 5px;
}
p{
   flex: 1 1 200px;
   -webkit-flex: 1 1 200px;
}
nav#main ul li{
   text-align: center;
   margin: 0%;
   width: 150px;
   border: 2px black;
   border-style: none solid solid;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
}